body {
  font-family: Roboto;
  padding:0;
  margin:0;
}

.header {
  background-color: #1F2937;
  padding-top: 10px;
  color: #FFFFFF;
}

.hero {
  background-color: #1F2937;
}

.info {
  background-color: #FFFFFF;
}

.callout {
  background-color: #E5E7EB;
  padding: 100px 350px 100px 350px;
}

.callout p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.cta {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blue-field {
  background-color: #3882F6;
  height: 150px;
  width: 1200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-bottom: 20px;
}

.cta-left {
  color: #FFFFFF;
}

.cta-right {
  color: #FFFFFF;
}

.footer {
  background-color: #1F2937;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}