body {
  font-family: Roboto;
  padding:0;
  margin:0;
}

.header {
  background-color: #1F2937;
  padding-top: 10px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.hero {
  background-color: #1F2937;
  background-image: linear-gradient(#273549, #1F2937);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hero-h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero-h2 {
  color: #E5E7EB;
  font-size: 18px;
}

.hero button {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  background-color: #3882F6;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
}

.info {
  background-color: #FFFFFF;
  padding: 50px;
}

.info-header {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.plants {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.barberry {
  width: 350px;
}

.barberry-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.chili {
  width: 350px;
}

.chili-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.pepper {
  width: 350px;
}

.pepper-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.saffron {
  width: 350px;
}

.saffron-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.text {
  text-align: center;
}

.callout {
  background-color: #E5E7EB;
  padding: 100px 300px 100px 300px;
}

.callout p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.cta {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blue-field {
  background-color: #3882F6;
  background-image: linear-gradient(#3882F6, #206de8);
  height: 150px;
  width: 1070px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-bottom: 20px;
}

.cta-left {
  color: #FFFFFF;
}

.cta-right {
  color: #FFFFFF;
}

.footer {
  background-color: #1F2937;
  text-align: center;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
}