body {
  font-family: Roboto;
  padding:0;
  margin:0;
}

.header {
  background-color: #1F2937;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.items-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.items-left {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 20px;
}

.hero {
  background-color: #1F2937;
  background-image: linear-gradient(#273549, #1F2937);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.hero-h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero-h2 {
  color: #E5E7EB;
  font-size: 18px;
  line-height: 30px;
}

.hero button {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  background-color: #3882F6;
  border: none;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
}

.hero button:hover {
  background-color: #206de8;
}

img.service {
  --g: 4px;     /* the gap */
  --b: 5px;    /* border thickness*/
  --c: #669706; /* the color */
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(80%);
  transition: .3s;
}
img.service:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

.info {
  background-color: #FFFFFF;
  padding: 60px 20px 60px 20px;
}

.info-header {
  color: #1F2937;
  font-size: 36px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.service1 {
  width: 400px;
}

.service1-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.service2 {
  width: 400px;
}

.service2-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.service3 {
  width: 400px;
}

.service3-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.service4 {
  width: 400px;
}

.service4-image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.text {
  text-align: center;
  padding-top: 10px;
}

.callout {
  background-color: #E5E7EB;
  padding: 70px 170px 70px 170px;
}

.callout p {
  font-size: 35px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

.cta {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blue-field {
  background-color: #3882F6;
  background-image: linear-gradient(#3882F6, #206de8);
  height: 150px;
  width: 1200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-bottom: 20px;
}

.cta-left {
  color: #FFFFFF;
}

.cta-right {
  color: #FFFFFF;
}

.cta-right button {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  background-color: #3882F6;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-left: 170px;
}

.cta-right button:hover {
  background-color: #5c8706;
}

.footer {
  font-size: 12px;
  background-color: #1F2937;
  text-align: center;
  color: #cdcdcd;
  padding-top: 20px;
  padding-bottom: 20px;
}